/*FOR SMALL SCREEN DISPLAY*/
    section.forecast { display: none; }
    nav ul { display: none; }
    nav {display:none;}

/*FOR THE WHOLESCREEN*/
    * { box-sizing: border-box;
}  /* This wildcard applies to all elements ensuring a box layout model */



    body { 
        font-size: 18px;
        font-family: 'Playfair Display', serif;
        font-style: oblique;
        font-weight: 300;
		background-color: darkgray;
}

    h1 {
        color: #4DBCE9;
}
    h2,h3 {
        color: #144960;

}
    h2 {}
    h3{ font-size: 22px;
}

    header, nav, main, footer { max-width: 100%;
      /* Declare the maximum width and other main element rules to limit the stretch on wide views */
    }

/*COLOR FOR THE BOTTOM AND TOP PART OF THE PAGE*/
      header, footer { 
        background-color: #144960;
    }


/*HEADER*/
    header {
        background-color:#144960;
        padding-left: 20px; 
        padding-right:20px;
        height: 140px;
       }

header h1,h2 {
        font-family: 'Playfair Display', serif;
        font-style: italic;
        font-size-adjust: auto;
        font-weight: 200; 
        width:max-content;
        padding-right:22%;
        margin-top: auto;
    }
   
    header .subheading {
        color: #4DBCE9; 
        font-weight: bold;
        font-style: oblique;
        font-size:17px; 
        margin-left:43%; 
        width:auto;
}



/*NAVIGATION*/
    /*Hidden Navigation*/
        nav {
            
            font-size: 20px;
            display: flex;
            position:relative;
            margin-left: 15px;
            margin-top: -2%;
            padding-bottom: 10px;
           
}
        nav button { 
            position: absolute;
            margin-left: 85%;
            margin-top: -60%;
            
            z-index: 1;
            
            color: darkgray; 
            border: none;
            display: contents;
            font-size: 30px; 
            background: none;
            }

        /* Dropdown Content (Hidden by Default) */
        .dropdown-content {
            display: none;
            position: absolute;
            margin-left: 20%;
            margin-top: -55%;
            background-color: #f9f9f9;
            min-width: 90%;
            box-shadow: 0px 16px 16px 0px rgba(0,0,0,0.2);
            
            z-index: 2;
            text-align: center;
        }
        /* Links inside */
        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: flex;
            flex-direction: column;
        }

        /* Change color of dropdown */
        .dropdown-content a:hover {
            background-color: #4DBCE9
}
        .dropdown-content a:active{
            background-color: #FEFCA8
}

        .show {display:flex;
            flex-direction: column;
} /*works with Javascript*/

    /*Normal Navigation*/
        nav {}

        nav ul { 
            list-style-type: georgian; 
            font-size: 20px;
            padding: none;
           }
        nav ul li {
            display: inline-flex; 
            padding: 5px 5px 10px 5px;}
        nav ul li a {
            color: #FEFCA8;
            text-decoration: blink; 
}
        nav ul li.active a {
            color:white;}
        nav ul li a:hover {
            color:white;}


/*MAIN BODY OF THE PAGE */
    main {
        margin: 0 auto; 
        width: 100%;
         
        }

    main h2 {
        font-size: 40px;
        text-align: center;}

    main figure {
        margin: 0 0 .2rem 2%; width:96%; 
}

    main img { 
        width: 100%;
        padding-top: 25px;
        padding-bottom: 25px;
}

    main h3, p, table{
        padding: 10px;
}



/*CURRENT WEATHER*/

picture img{
    max-width: 100%; 
    min-width: 50%;

}

/*Text for Current Weather */
    #weathersum p {
        font-family: "Playfair + Display", serif;
        font-style: normal;
        font-weight: 700;
        font-size: 1em; 
    }

    #weathersum strong {
        font-size: 1.5em; 
        color: #4DBCE9; 
}

    .weather 24/7{
        font-size: 25px; 
        padding: 10px;
    }

    #weathersum h3{ 
    background-color: #FEFCA8;
    border: 5px solid #144960;
}

/* Current Weather Containers*/
    #weathersum{  
        align-content: center;
        width: 100%;
        text-align: center;
            }

.cwcontainer {
    display: flex;
    flex-wrap: wrap;
}    

        .current{
            margin: auto auto auto 30px;    
            width: 40%;
           
}

        .highlow {
             width: 40%;
             padding: 5px;
             margin: 2px auto auto auto;

    }

        .conditions {
            width: 100%;
            min-width: 33%;
            padding: 5px;
           }
/*--------- Form Table ------------*/

form fieldset{
    margin: 2rem 0;
    border: 1px solid #445ba9;
    padding: .5rem 2%;
               
}

form label.top{
    display: flex;
    color: #445ba9;
    margin: 0 1rem;
    padding: 0 .5rem;
    font-size: .8rem;
    padding: .75rem;
    border-radius: 4px;
    
    
    
}

form div {
    display: subgrid;
    color: #445ba9;
    margin: 0 1rem;
    padding: .75rem;
}

form label.top input{
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0,1);
      
}

form label.top input:required{
    border-left: red solid 6px;
}

form label.top input:required:valid{
    border-left: green solid 6px;
}

/*TABLE*/

    .forecast h3{
        margin:auto; 
        text-align: center; 
        clear: both;
        border: 5px solid #144960;
        border-bottom: 0px;
        background-color: #FEFCA8;
        padding: 10px;
        }
    
    table {
        background-color: #144960;
        margin: auto;
        width: 100%;
}

    tr{
        background-color: #144960;
}
    th {color:#FEFCA8; 
        padding: 5px; 
        padding-top: 20px; 
        padding-bottom:10px; 
        text-align: center;
}
    td{color: white; 
        padding:5px; 
        padding-top: 10px; 
        padding-bottom:20px; 
        text-align: center;}

/*ARTICLES AND STORIES*/
    article{
        width:100%; 
        margin: 10px;
        border: 5px solid #144960;
        clear: both;
}
    article h3 {
        margin: 20px 5px 0px 5px; 
        text-align: center;
}
    .town-article{
        width:100%;
        margin: 5px;

}
    article p.town-article img {  
  width: 100%; 
  margin: auto;
} /* This structure refers to img elements that are the posterity of paragraph elements within artcle elements *//* fill the page in the small/phone view */


/*GALLERY*/
    .gridgallery {
        width: 100%;
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 1em;
    
        }


/*FOOTER*/
    footer { padding:10px; color:#FEFCA8; text-align: center; }
    footer aside {padding-left: 10px; padding-top: 10px; margin-bottom:-10px;}
    footer>p { color:#FEFCA8; margin-bottom:-10px;} /* This structure refers to p elements that are direct children of the footer element */