/* CIT 230 - Assignment Portal CSS Template */

/* You may use #HEX or color names */

/* * is a wildcard referring to all elements. */

* {
    margin: 0;
    box-sizing: border-box}

body {
    background-color: floralwhite;
    font-size: 16px;
    line-height: 32px;
    font-family: "Playfair+Display", serif/* Ubuntu, sans-serif */
    ;
    color: orange/* #xxxxxx */
    ;
}

h1 {
    font-size: 1.50rem/* x.xrem  (rem is a unit of measure) */
    ;
    color: orange;
}

h2 {
    font-size: 16px/* x.xrem */
    ;
    text-align: center;
    border-bottom: 5rem solid #bbb;
}

header,
main,
footer {
    margin: 39px;
    padding: 39px;
    max-width: 2000px/* xxxpx (px = pixel is a unit of measure)  */
    ;
}

header,
footer,
footer a {
    text-align: center;
    background-color: bisque/* */
    ;
    color: black;
}

header img {
    background-size: 32px 32px;
    width: 32px /*  */
    ;
    height: 32px ;
    float: right;
    border-radius: 50%;
    display: block;
    margin: auto;
    overflow: hidden;
    z-index: 0;
}

footer {
    font-size: 12px/* smaller */
    ;
}
